<!DOCTYPE html>
<html>
<head>
  <title>Railsapp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'main_layout', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<h2>Main layout</h2>
<%= yield %>
</body>
</html>
